
.hero__section {
    display: grid ;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: auto !important;
    margin-top: 10px;
}


@media screen and (max-width: 1024px) {
    .hero__section {
        display: flex ;
        flex-wrap: wrap;
        flex-flow: column-reverse;
        height: auto !important;
        margin-top: 30px;
    }

    .image__conitainer {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        height: 100vh;
        margin-top: 20px;
        padding: 10px;
        background-image: url(food.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background: none;
    }
    .image__table  {
        visibility: hidden;
    }        
}

.hero__text {
    display: flex;
    flex-wrap: wrap;
    height: auto !important;
    padding: 10px;
    width: 100vw;
}

.image__conitainer {
    display: flex;
    flex-wrap: wrap;
    width: 100vh;
    height: 130vh;
    margin-top: 20px;
    padding: 10px;
    background-image: url(food.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__image{
    display: grid;
    width: 400px;
    height: 110vh;
    
}

.hero__textarea {
    display: grid;
    padding: 20px;
    margin-top: 2px;
    width: 600px;
    height:auto !important;
}

.dicover__dishes {
    font-size: 40px;
    color: white;
    font-family: 'Ramabhadra', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

#dish {
    font-family: sans-serif;
    font-style: normal;
    color: #d4ba52;
    letter-spacing: 5px;
}

.text {
    font-size: 30px;
    color: white;
    line-height: 50px;
    letter-spacing: 2px;
    height: auto !important;
}

.image__table  {
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    height: 350px;
    background-repeat: no-repeat;
    padding: 25px;
}                                                                                           

#bold {
    font-size: 35px;
    color: #536DFE;
}

#bold_text {
    color: #536DFE;
}