@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.log__Btn {
    padding: 1em 2em;
    margin: 5px;
    background: none;
    color: white;
    border: 2px solid#FA9F42;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
}

.user__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user__name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Yusei Magic', sans-serif;
}

@media screen and (max-width: 480px) {
    
.user__name{
    display: none;
}

}

.fa-circle{
    margin: 5px;
    font-size: 10px;
    color: rgb(94, 197, 94);
}