.log__Btn {
    padding: 1em 2em;
    margin: 5px;
    background: white;
    color: #d4ba52;
    border: 2px solid #d4ba52;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
}