* {
  margin: 0;
  padding: 0;
}

.App__ {
   background: #162131;
   text-align: center;
   width: 100vw;
   height: auto !important;
}

@media screen and (max-width: 480px) {
  .App__{
    overflow: hidden;
  }
}
