.top__nav {
    width: 100vw;
    background: white;
    color: black;
}

.spinner__{
    padding: 10px;
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
}

.spinning__icon {
    color: lightgreen;
}


.navigate__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.isAuthenticated__{
    width: 60%;
    padding: 10px;
}

@media screen and (max-width: 480px) {
    .isAuthenticated__ {
        width: auto !important;
    }
}

.p__welcome {
    font-size: 25px;
    padding: 10px;
    letter-spacing: 4px;
}

.welcome {
    display: inline-flex;
    width: 30%;
}

.order {
    font-size: 16px;
    background-color: #FA9F42;
    width: 50px;
    padding: 10px;
    border-radius: 4px;
}
